* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

.header {
    background-color: #ffffff;
    grid-area: header;
}

.sidebar {
    background-color: #1992d4;
    grid-area: sidebar;
    
}

.content {
    background-color: #e2e8f0;
    grid-area: content;
}

